<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Wraith_01_Attack_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,579},{193,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,41},{193,285}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,0},{196,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,39},{196,283}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,282},{199,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,38},{199,279}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,549},{202,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,37},{202,276}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,549},{203,275}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{122,38},{203,275}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{206,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,39},{206,274}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{208,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,40},{208,273}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,0},{202,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,39},{202,281}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,579},{194,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,39},{194,292}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,562},{197,304}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{164,31},{197,304}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,562},{197,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,33},{197,300}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

			<key>Wraith_01_Attack_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,284},{195,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,36},{195,294}}</string>
				<key>sourceSize</key>
				<string>{520,420}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>boss1.png</string>
			</dict>
		</dict>
</plist>